<%- include('../partials/header') %>

<main id="user-show-view">
  <div class="trainer-main">
    <h1>Welcome back, <%= account.customName %>!</h1>
    <div>
      <img class="userAvatar" src=<%= account.avatar %>>
    </div>
    <p>Number of Pokemon Collected: <span><%= account.pokemonCollected.length %></span></p>
    <p>Adventure began on: <%= dateCreated %></p>
  </div>

  <div class="trainer-edit">
    <h3>Would you like to change your Trainer Details?</h3>
    <form action="/users/<%= account.googleId %>?_method=PUT" method="POST">
      <label>Change Trainer Name:</label>
      <input type="text" name="customName" autocomplete="off">
      <input id="trainer-edit-submit" type="submit" value="Submit changes">
    </form>
  </div>
</main>

<%- include('../partials/footer') %>