<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/styleUserShow.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script defer src="/javascripts/main.js"></script>
    <title><%= title %></title>
</head>
<body>
    <nav id="nav-bar-1">
        <span id="nav-title"><img id="nav-title-image" src="/images/SugimoriPokeBall.png"> My Pokemon Collection </span>
        <a href="/logout" id="logout"><span class="material-symbols-outlined">logout</span> Logout</a>
    </nav>
    <nav id="nav-bar-2"> 
        <a href="/users/<%=account.googleId%>" id="get-user-view" <%- title === 'Trainer Details' ? 'class="active"' : '' %>>Trainer Details</a>
        <a href="/pokemons" id="get-pokemon-view" <%- title === 'My Pokemon' ? 'class="active"' : '' %>>My Pokemon</a>
        <a href="/rosters" id="get-roster-view" <%- title === 'My Rosters' ? 'class="active"' : '' %>>My Rosters</a>
    </nav>

<main id="user-show-view">
  <div class="trainer-main">
    <h1>Welcome back, <%= account.customName %>!</h1>
    <div>
      <img class="userAvatar" src=<%= account.avatar %>>
    </div>
    <p>Number of Pokemon Collected: <span><%= account.pokemonCollected.length %></span></p>
    <p>Adventure began on: <%= dateCreated %></p>
  </div>

  <div class="trainer-edit">
    <h3>Would you like to change your Trainer Details?</h3>
    <form action="/users/<%= account.googleId %>?_method=PUT" method="POST">
      <label>Change Trainer Name:</label>
      <input type="text" value="<%= account.customName %>" name="customName" autocomplete="off">
      <input id="trainer-edit-submit" type="submit" value="Submit changes">
    </form>
  </div>
</main>

</body>
</html>